---
---

$grey-color: rgb(130, 130, 130);
$link-color: rgb(71, 99, 169);

/* generic */

.center {
	text-align: center;
}

.link {
	color: $link-color;
	text-decoration: none;
}

.bottom-border-line {
	border-style: solid;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: rgb(236, 236, 236);
}

/* Base layout */

body {
	margin: 0px;
	font-family: 'Open Sans';
}

#main {
	margin: auto;
	max-width: 760px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	font-weight: 300;
}

/* Header */

#header {
	height: 50px;
}

#header-content {
	margin: auto;
	max-width: 800px;
	text-align: right;
}


/* Index page */

#posts {
	display: table;
}

.post {
	display: table-row;

	.date {
		display: table-cell;
		color: $grey-color;
		width: 155px;
	}

	.link {
		display: table-cell;
	}
}

/* Posts pages */

.title {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 10px;
}

p {
	img {
		margin: 0 auto;
		display: block;
	}
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0 auto; // TODO: tweak margin
	text-align: center;
}
