@mixin card() {
	box-shadow: 1px 1px 2px #bfbfbf;
	background-color: white;
	border-radius: 3px;
}

.border-bottom {
	border-bottom: 1px solid #e1e4e8!important;
}

.date {
	color: grey;
}

body {
	background-color: #edeef0;
}

#main {
	@include card();
	margin: auto;
	width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
